@import url('https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
@import url('https://npmcdn.com/flatpickr/dist/themes/airbnb.css')

*
	box-sizing: border-box

.vabsform
	*
		color: darken(slategray, 30)

	border-radius: .375rem
	overflow: hidden
	background: white
	width: 100%
	margin: 0px auto
	text-align: left
	border: 1px solid whitesmoke
	&__body
		position: relative
		&--element
			.element
				&__header
					padding: 14px
					text-transform: uppercase
					font-weight: bold
					background: whitesmoke
					display: flex
					flex-direction: row
					justify-content: flex-start
					align-items: center
					cursor: pointer
					&--index
						height: 28px
						width: 28px
						background: darken(whitesmoke, 20)
						display: inline-block
						border-radius: 100%
						margin-right: 28px
						position: relative
						&::before
							content: ''
							position: absolute
							width: 0px
							height: 2px
							background: white
							top: 60%
							left: 23%
							transform: rotate(45deg)
							transition: width .2s ease
						&::after
							content: ''
							position: absolute
							height: 2px
							width: 0px
							background: white
							top: 48%
							left: 28%
							transform: rotate(125deg)
							transition: width .2s ease
						&.success
							background: limegreen
							&::before
								width: 7px
								transition: width .1s ease
							&::after
								width: 17px
								transition: width .2s ease .1s

				&__body
					overflow: hidden
					height: auto
					transition: all ease .4s
					position: relative
					.participant
						&__controls
							span
								text-decoration: underline
								font-size: .8rem
								cursor: pointer
						p
							display: flex
							justify-content: space-between
							border-bottom: dashed 1px whitesmoke
							font-size: .9rem
							span.remove
								opacity: .3
								svg
									width: auto
									height: 16px
						&__form
							button.button
								font-size: .9rem
								appearance: none
								outline: none
								box-shadow: none
								background: darkblue
								padding: 8px 11px
								border-radius: 3px
								font-weight: bold
								color: white
								border: 2px solid darkblue
					.course
						margin: 8px 0px
						padding: 8px 16px
						border-bottom: 1px dashed darken(whitesmoke, 30)
						display: flex
						justify-content: space-between
						align-items: flex-end
						flex-wrap: wrap
						&:last-of-type
							border-bottom: none
						@media(max-width: 767px)
							display: flex
							flex-direction: row
							justify-content: space-between
							flex-wrap: wrap
							font-size: .9rem
							padding: 0px
							align-items: flex-end
						&__header
							width: 100%
							padding: 8px 16px
							.course__name
								font-weight: bold
							p
								margin: 8px 0px 8px 0px
						&__trainings
							width: 100%
							&--training
								padding: 8px 16px
								&:nth-of-type(odd)
									background: whitesmoke
								label
									display: flex
									justify-content: space-between
									align-items: center
						&__desc
							font-size: .8rem
							padding: 7px
							width: 100%
							display: block
							@media(max-width: 767px)
								width: 100%
								margin-bottom: 14px
							label
								text-transform: uppercase
								font-size: 1rem
								font-weight: bold
						&__amount
							display: block
							padding: 7px
							width: 40%
							@media(max-width: 767px)
								width: 50%
							label
								font-size: .6rem
							input
								display: inline-block
								width: 100%
								border: none
								background: whitesmoke
								padding: 7px
								margin-right: 7px
						&__qty
							display: block
							padding: 7px
							width: 40%
							font-size: .8rem
							@media(max-width: 767px)
								width: 100%
							input
								display: inline-block
								width: 40px
								border: none
								background: whitesmoke
								padding: 7px
								margin-right: 7px
						&__price
							display: block
							text-align: right
							font-weight: bold
							padding: 7px
							width: 20%
							@media(max-width: 767px)
								width: 50%

					.form
						padding: 8px
						&__field
							padding: 8px
							&.horizontal
								display: grid
								grid-template-columns: repeat(2, 1fr)
								grid-column-gap: 8px
								.form__field
									padding: 0rem
								@media(max-width: 767px)
									display: block
									.form__field
										display: block
										padding: 8px 0px
							label
								font-weight: normal
								font-size: .8rem
							input[type="text"],
							input[type="date"],
							select,
							textarea
								appearance: none
								display: block
								width: 100%
								padding: 11px 8px
								border: 1px solid darken(whitesmoke, 20)
								font-size: .9rem
								background: white
								border-radius: 0px
								outline: none
								box-shadow: none
							input[type="checkbox"]
								margin-right: 14px
						&__button
							font-size: .9rem
							appearance: none
							outline: none
							box-shadow: none
							background: darkblue
							padding: 8px 11px
							border-radius: 3px
							font-weight: bold
							color: white

					.confirmation
						padding: 8px
						&__billing
							padding: 8px
							border-bottom: dashed 1px darken(whitesmoke, 30)
							font-size: .9rem
							display: flex
							flex-direction: row
							justify-content: space-between
							@media(max-width: 640px)
								flex-direction: column
							&__headline
								width: 50%
								@media(max-width: 640px)
									width: 100%
							&__meta
								width: 50%
								@media(max-width: 640px)
									width: 100%
						&__dates
							padding: 8px
							font-size: .9rem
							display: flex
							flex-direction: row
							justify-content: space-between
							border-bottom: dashed 1px darken(whitesmoke, 30)
							@media(max-width: 640px)
								flex-direction: column
							strong
								width: 50%
								@media(max-width: 640px)
									width: 100%
							span
								width: 50%
								@media(max-width: 640px)
									width: 100%
						&__courses
							border-bottom: dashed 1px darken(whitesmoke, 30)
							&__course
								padding: 8px
								font-size: .9rem
								display: flex
								flex-direction: row
								justify-content: space-between
								border-bottom: dashed 1px whitesmoke
								@media(max-width: 640px)
									flex-direction: column
								&--title
									span
										display: block
										font-size: .8rem
								&--meta
									width: 50%
									display: flex
									flex-direction: row
									justify-content: space-between
									@media(max-width: 640px)
										width: 100%
										flex-direction: column
						&__payment
							padding: 8px
							display: flex
							flex-direction: row
							justify-content: space-between
							border-bottom: dashed 1px whitesmoke
							@media(max-width: 640px)
								flex-direction: column
			&.participants
				.form
					&:nth-of-type(even)
						background-color: whitesmoke
					&__field:last-of-type
						text-align: right
					&__header
						padding: 8px
					&__switcher
						padding: 0px 8px
					&__field.horizontal
						padding: 8px 0px
					&__participant
						.participant
							padding: 8px 0px
							display: flex
							flex-direction: row
							justify-content: space-between
							&__name
								width: 33.33%
							&__tel
								width: 33.33%
							&__email
								width: 33.33%
		&--success,
		&--error
			position: absolute
			top: 0px
			left: 0px
			width: 100%
			background: white
			height: 0px
			overflow: hidden
			&--wrapper
				align-self: stretch
				height: 100%
				width: 100%
				text-align: center
				padding: 1.6rem
				display: flex
				align-items: center
				flex-direction: column
				justify-content: center
				svg
					width: 80%
					height: auto
					max-width: 320px
				p
					width: 80%
					height: auto
					max-width: 400px


	&__footer
		padding: 16px 8px
		text-align: right
		button
			font-size: .9rem
			appearance: none
			outline: none
			box-shadow: none
			background: darkblue
			padding: 8px 11px
			border-radius: 3px
			font-weight: bold
			color: white
			border: 2px solid darkblue
			.text
				color: white
			.loading
				display: inline-block
				height: 1rem
				width: 1rem
				border-radius: 1rem
				border: 2px solid white
				margin-left: 1.4rem
				position: relative
				top: 2px
				border-top-color: white
				border-right-color: white
				border-bottom-color: white
				border-left-color: transparent
				animation: rotate .6s ease infinite
			&:hover
				border: 2px solid transparent
			&.success
				background: limegreen
			&.vabsformback
				color: darkblue
				background-color: white
				border: 2px solid darkblue
				margin-right: 8px

@keyframes note
	0%
		right: -100%
	5%
		right: 35px
	95%
		right: 35px
	100%
		right: -100%

@keyframes rotate
	from
		transform: rotate(0deg)
	to
		transform: rotate(360deg)